tensorboard/
*/__pycache__/
.idea/
/Examples/data.csv
__pycache__/
Examples/tmp_dir/
Examples/Models/
Examples/Models/tensorboard/
Examples/bc_tensorboard/
other/Examples/.ipynb_checkpoints
/aglaia/.cache/
data_manip/
aglaia/tests/.cache/
data/*.npz
data/*.bz
other/osprey_example
